@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/home/eda/workspace/team-scooter/CodeQuest/client/images/background-image.jpeg");
  background-repeat: repeat-x repeat-y;
}

.container-question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  height: 35vh; 
}

.question-box {
  width: 600px; /* Adjust the width as needed */
  height: 220px; /* Adjust the height as needed */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  box-sizing: border-box; 
}

.container-question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; 
}

.next-q-button {
  margin-top: 20px; /* Adjust the margin as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #01133F; /* Change background color */
  color: #fff; /* Change text color */
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

next-q-button:hover {
  background-color: #0056b3; /* Change background color on ho*/
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-size: 20px;
  margin-top: 20px;
   /* Adjust the gap between buttons */
}



.buttons {
  padding: 15px 25px; /* Adjust padding as needed */
  background-color: black; /* Change background color */
  color: #000; /* Change text color */
  border: none;
  text-size: 25px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1px
}



.header {
  padding: 10px;
  text-align: center;
  background: #01133F;
  border-radius: 10px;
  color: white;
  font-size: 30px;
}

.code_logo {
  height: 120px;
}